/* Add CSS Styling */
#one {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#two {
    background-color: rgb(94, 201, 94);
    font-size: 24px;
    font-weight: bold;
}
.cooler {
    font-size: 24px;
}

.class {
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
    background-color: rgb(224, 202, 206);
}